.navbar{
    margin-bottom:0px;
    background-color: #770101;
}
.navbar-brand{
    width:70;
    height:40;
}

.navbar-inverse .navbar-nav>.active>a
{
background-color: #770101;
}
.navbar-center{
    margin-left:350px;
    font-size:20px;
}
