<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
          <img src="../assets/images/logo.jpg" width="50" height="30" alt="">
    </a>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a routerLink="/home/aboutUs">About Us</a></li>
      <li><a routerLink="/events">Events</a></li>
      <li><a routerLink="/gallery">Gallery</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/contactUs">Contact Us</a></li>
    </ul>
  </div>
</nav>