@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    font-size:20px;
    transform: translatex(-50%);
  }
}

.navbar{
    margin-bottom:0px;
    background-color: #770101;
}
.navbar-brand{
    width:70;
    height:40;
}

.navbar-inverse .navbar-nav>.active>a
{
background-color: #770101;
}
/*.navbar-center{
    
    font-size:20px;
}*/
