<blockquote class="blockquote">
<h2 style="color:#370707;" >Music Festival -Swar Sangam </h2>

<p>Swar Sangam is an annual feature of Classical Music, A constant endeavour to present seasoned artistes from down south – a Hub for Carnatic Classical. The music festival brings vidwans to the country’s capital and offers a glimpse into the world of classical music to the music connoisseurs and aspiring musicians in the capital city. It is an amalgamation of creativity and experience that keeps the audience spellbound.</p>
</blockquote>
<blockquote class="blockquote">
<h2 style="color:#370707;">Nada Series</h2>
<p>Nada is musical sound. The whole subject of music relates to nada. Nada gives rise to shrutis, and these give rise to swaras and these in turn give rise to ragas. 
While emotional and mystical aspects dominate Carnatic music, we cannot conclude that the music is purely a subjective experience. The subjective experiences do not arise in empty space. The emotions arise only because each individual correlates what he or she hears with prior experiences acquired from the real world. In this sense, listening to music is also an intellectual exercise.
The music appeals to us because of its inspirational influence on our inner spiritual forces. Saint Tyagaraja describes this phenomenon as Nadopasana. Truly, going by what the great composer’s thought process is about the Sound of Music – “Nada Series” enlightens the music lovers and aspiring Musicians about the importance of Nadam in Carnatic Music.</p>
</blockquote>
<blockquote class="blockquote">
<h2 style="color:#370707;">Pallavi Series</h2>
<p>Ragam Tanam Pallavi  is a form of singing in carnatic music which allows the musicians to improvise to a great extent. It is one of the most complete aspects of Indian classical music, demonstrating the entire gamut of talents and the depth of knowledge of a musician. It incorporates raga alapana, tanam, niraval, and kalpanaswara. Pallavi series focuses on giving opportunities to youngsters and help them showcase their creative talent to a wider audience.</p>
</blockquote>
<blockquote class="blockquote">
<h2 style="color:#370707;">Talent Promotion Concerts</h2>
<p>Primary objective of the Gurukulam Foundation is a commitment to groom young talents in the field of classical music .  It therefore embarked upon the idea to provide a platform to promote the up and coming musicians to show case their creative talent which would also provide an opportunity for self-assessment and introspection to shape up their musical career and improve the skill set. “ Talent Promotion Concerts” emerged as one such endeavour in this direction. Lok Kala Manch has joined hands to make this effort and idea successful. 
</p>
</blockquote>