<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a routerLink="/gallery">Gallery</a></li>
    </ul>
  </div>
</nav>
<carousel>
  <slide>
    <img src="../assets/images/DSC_0029.JPG" alt="First slide" style="display: block; width: 60%; margin-left:280px;">
  </slide>
  <slide>
    <img src="../assets/images/DSC_1947.JPG" alt="Second slide" style="display: block; width: 60%; margin-left:280px;">
  </slide>
  <slide>
    <img src="../assets/images/DSC_2016.JPG" alt="Third slide" style="display: block; width: 60%; margin-left:280px;">
  </slide>
   <slide>
    <img src="../assets/images/DSC_6601.JPG" alt="Third slide" style="display: block; width: 60%; margin-left:280px;">
  </slide>
   <slide>
    <img src="../assets/images/DSC_7606.JPG" alt="Third slide" style="display: block; width: 60%; margin-left:280px;">
  </slide>
   <slide>
    <img src="../assets/images/DSC_7680.JPG" alt="Third slide" style="display: block; width: 60%; margin-left:280px;">
  </slide>
</carousel>

<!--style="display: block; width: 60%;"-->

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="../assets/images/DSC_7680.JPG" target="_blank">
          <img src="../assets/images/DSC_7680.JPG" alt="" style="width:100%">
          <div class="caption">
            <p>Talent Promotion Concerts</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="../assets/images/DSC_0029.JPG" target="_blank">
          <img src="../assets/images/DSC_0029.JPG" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Swar Sangam</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="../assets/images/home6.JPG" target="_blank">
          <img src="../assets/images/home6.JPG" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lok Kala Manch</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
