

<carousel>
  <slide>
    <img src="../assets/images/home1.JPG" alt="First slide" style="display: block; width: 50%; margin-left:310px;">
  </slide>
  <slide>
    <img src="../assets/images/home2.JPG" alt="Second slide" style="display: block; width: 50%; margin-left:310px;">
  </slide>
  <!--<slide>
    <img src="../assets/images/home3.JPG" alt="Third slide" style="display: block; width: 60%; margin-left:310px;">
  </slide>-->
   <slide>
    <img src="../assets/images/home4.JPG" alt="Fourth slide" style="display: block; width: 50%; margin-left:310px;">
  </slide>
   <slide>
    <img src="../assets/images/home5.JPG" alt="Fifth slide" style="display: block; width: 50%; margin-left:310px;">
  </slide>
   <slide>
    <img src="../assets/images/home6.JPG" alt="Sixth slide" style="display: block; width: 50%; margin-left:310px;">
  </slide>
</carousel>

