<nav class="navbar">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-center">
      <li><img src="../assets/images/logo.jpg" style="margin-right:10px" width="88" height="100" alt=""></li>
      <li><h3>Gurukulam Foundation</h3></li>
    </ul>
    </div>
  </div>
</nav>


<carousel>
  <slide>
    <img src="../assets/images/home1.JPG" alt="First slide" style="display: block; width: 50%;height: 60%; margin-left:310px;">
  </slide>
  <slide>
    <img src="../assets/images/home2.JPG" alt="Second slide" style="display: block; width: 50%;height: 60%; margin-left:310px;">
  </slide>
  <!--<slide>
    <img src="../assets/images/home3.JPG" alt="Third slide" style="display: block; width: 60%;height: 60%; margin-left:310px;">
  </slide>-->
   <slide>
    <img src="../assets/images/home4.JPG" alt="Fourth slide" style="display: block; width: 50%;height: 60%; margin-left:310px;">
  </slide>
   <slide>
    <img src="../assets/images/home5.JPG" alt="Fifth slide" style="display: block; width: 50%;height: 60%; margin-left:310px;">
  </slide>
   <slide>
    <img src="../assets/images/home6.JPG" alt="Sixth slide" style="display: block; width: 50%;height: 60%; margin-left:310px;">
  </slide>
</carousel>

