.clear { clear: both; }
.row{
    margin-left:250px;
    margin-top: 10px;
    margin-bottom:10px;
}
h3{
    color:#770101;
    font-size: 50px;
    margin-left: 0px;
    font-family: algerian;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}
.navbar{
    margin-bottom: 60px;
    margin-top: 10px;
}